.container-list{
  background-color: rgb(82, 87, 82);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  width: 90%;
  margin: 30px auto 0;
  height: 10%;
}
.small-table {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}
.txt-list{
  color: aliceblue;
  margin: 40px;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
  flex: 1;
}
.cont-t-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-value{
  width: 35px;
  height: 35px;
}
.cont-btns button:first-child {
  margin-right: 10px;
}
.btn-success {
  margin-right: 70px;
  width: 120px;
  height: 45px;
}
.inp-buscador{
  display: flex;
  align-items:center;
  text-align:center;
  margin-top: 20px;
  width: 350px;
  height: 60px;
  margin-left: 70%;
}
.form-container{
  
}